<!--The whole content below can be removed with the new code.-->

<div style="text-align:center">
  <h1>Requisitions</h1>
      <div class="test" style="width:1000px">  
        <ag-grid-angular style="width: 900px; height: 115px;"
                        class="ag-fresh"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                        [gridOptions]="gridOptions"
                        (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
</div>

<div>

</div>